html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url('../img/ribbon.png'), url('../img/decoration.png'), url('../img/old_paper.jpg');
    background-repeat: no-repeat;
    background-position: bottom right, top left, center center;
    background-size: auto, auto, cover;
}