/* === IMPORTANTE ===================================================
   No modificar estos estilos, ya que son imprescindibles para
   que la página se vea correctamente.
   ================================================================== */

/*-- Básico ----------------------------------------------------------*/
ul, ul li { margin: 0; padding: 0; list-style: none; }
h1, h2, h3, p, form { margin: 0; padding: 0; }
.clear { clear: both; }
img { border: none; }

/*-- Layout ----------------------------------------------------------*/
.contenedor {
  width: 90%;
  max-width: 900px;
  width: expression(document.body.clientWidth > 901? "900px": "auto");
  margin: 0 auto;
}

.cabecera, .menu, .lateral, .contenido, .contenido .principal, .contenido .secundario, .pie {
  border: 2px solid #777;
}

.cabecera { clear: both; }
.menu { clear: both; }
.lateral { float: left; width: 20%; }
.contenido { float: right; width: 78%; }
.contenido .principal { float: left; width: 78%; }
.contenido .secundario { float: right; width: 20%; }
.pie { clear: both; }

/*-- Cabecera --------------------------------------------------------*/
.cabecera .logo { float: left; }
.cabecera .buscador { float: right; }

/*-- Menu ------------------------------------------------------------*/
.menu ul.menu_principal li { display: inline; float: left; }

/*-- Sección Principal -----------------------------------------------*/
.contenido .principal .articulo img { width: 100px; float: left; }

/*-- Pie de página ---------------------------------------------------*/
.pie .enlaces   { float: left; }
.pie .copyright { float: right; }

/* === IMPORTANTE ===================================================
   A partir de aquí, se pueden añadir todos los estilos propios que 
   sean necesarios.
   ================================================================== */

/* RELLENOS Y MARGENES */
.cabecera {
    padding: 1em;
}

.menu {
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.noticias,
.publicidad,
.principal,
.secundario {
    padding: 0.5em;
}

.pie {
    /* Modificamos los rellenos izda y dcha */
    padding: 0.5em 0;

    /* Mantenemos los rellenos izda y dcha */
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    margin-top: 1em;
}

.articulo {
    margin-bottom: 1em;
}

.articulo img {
    margin: 0.5em;
}

.publicidad {
    margin-top: 1em;
}

/* BORDES */
.cabecera,
.menu,
.lateral,
.contenido,
.contenido
.principal,
.contenido
.secundario,
.pie {
    border: none;
}

.menu {
    border-bottom: 1px solid #004C99;
}

.noticias {
    border: 1px solid #C5C5C5;
}

.publicidad {
    border: 1px dashed #CC6600;
}

.contenido .secundario {
    border: 1px solid #CC6600;
}

.pie {
    border-top: 1px solid #C5C5C5;
    border-bottom: 1px solid #C5C5C5;
}

/* FONDOS */
/*body {
    background: #FFF url('../img/bg_pattern.png') repeat 0 0;
}*/

.noticias,
.pie {
    background-color: #F8F8F8;
}

.publicidad {
    background-color: #FFF6CD;
}

.secundario h2 {
    background-color: #DB905C;
    padding: 0.2em;
}

.menu {
    background: #004C99 url('../img/fondo_menu.gif') repeat-x 0 0;
}

h1 {
    background: #FFF url('../img/logo.gif') no-repeat 0 -10px;
}

h1 span {
    visibility: hidden;
}

.contact {
    background: transparent url('../img/email-icon.gif') no-repeat 0 1px;
    padding-left: 20px;
}